<a target="_blank" href="https://colab.research.google.com/github/michalis0/Cloud-and-Advanced-Analytics/blob/main/02.%20BigQuery/week_02_exercises.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Week 2: Google BigQuery

## Walkthrough

### For Colab users

In [1]:
from google.colab import auth

auth.authenticate_user()
print("Authenticated")

Authenticated

#### For Jupyter users ONLY

Make sure to replace "PATH_TO_CREDENTIALS_FILE" with the *absolute* path to the JSON service account key (e.g., "C:/Users/John/credentials.json"). Here is the [documentation](https://cloud.google.com/iam/docs/creating-managing-service-account-keys).

In [ ]:
!pip install google-cloud-bigquery

In [ ]:
import os

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "PATH_TO_CREDENTIALS_FILE"

### Connect to BigQuery

In [4]:
import pandas as pd
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client(project="bsa-2021-sandbox-001122")  # CHANGE WITH YOUR OWN PROJECT ID

To run the cells below, you must first create a new dataset in BigQuery and upload the data from week 2 (`Teams.csv` and `Players.csv`) as tables. Since the CSV files are well-formed, you can automatically infer the schema when loading the data.

In [6]:
# Create a reference to the World Cup dataset
dataset_ref = client.dataset("world_cup", project="bsa-2021-sandbox-001122")  # CHANGE WITH YOUR OWN DATASET (NOT TABLE) NAME AND PROJECT ID

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [7]:
# List the tables in the dataset
tables = list(client.list_tables(dataset))
for table in tables:  
    print(table.table_id)

Players
Teams

In [8]:
# Create a reference to the "Teams" table
table_ref = dataset_ref.table("Teams")

# API request - fetch the table
teams_table = client.get_table(table_ref)

# Same for the "Players" table
table_ref = dataset_ref.table("Players")
players_table = client.get_table(table_ref)

In [9]:
# Display the schema of the "Teams" table 
players_table.schema

[SchemaField('surname', 'STRING', 'NULLABLE', None, ()),
 SchemaField('team', 'STRING', 'NULLABLE', None, ()),
 SchemaField('position', 'STRING', 'NULLABLE', None, ()),
 SchemaField('minutes', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('shots', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('passes', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('tackles', 'INTEGER', 'NULLABLE', None, ()),
 SchemaField('saves', 'INTEGER', 'NULLABLE', None, ())]

In [10]:
# Show a preview of the "Teams" table using pandas
client.list_rows(teams_table, max_results=5).to_dataframe()

          team  ranking  games  ...  goalsAgainst  yellowCards  redCards
0     Honduras       38      3  ...             3            7         0
1  North Korea      105      3  ...            12            2         0
2       Greece       13      3  ...             5            5         0
3     Cameroon       19      3  ...             5            5         0
4  New Zealand       78      3  ...             2            6         0

[5 rows x 10 columns]

### Example of queries

In [11]:
q1 = """
select *
from bsa-2021-sandbox-001122.world_cup.Teams
where ranking < 20
order by ranking
"""

query_job = client.query(q1)
query_job.to_dataframe()

           team  ranking  games  ...  goalsAgainst  yellowCards  redCards
0        Brazil        1      5  ...             4            7         2
1         Spain        2      6  ...             2            3         0
2      Portugal        3      4  ...             1            8         1
3   Netherlands        4      6  ...             5           15         0
4         Italy        5      3  ...             5            5         0
5       Germany        6      6  ...             3            8         1
6     Argentina        7      5  ...             6            7         0
7       England        8      4  ...             5            6         0
8        France        9      3  ...             4            6         1
9        Greece       13      3  ...             5            5         0
10          USA       14      4  ...             5            9         0
11       Serbia       15      3  ...             3            8         1
12      Uruguay       16      6  ...             5            8         2
13       Mexico       17      4  ...             5            9         0
14        Chile       18      4  ...             5           13         1
15     Cameroon       19      3  ...             5            5         0

[16 rows x 10 columns]

In [12]:
# Join the two tables
q2 = """
select teams.*, players.surname, players.position, players.shots,
players.minutes, players.passes, players.tackles, players.saves
from bsa-2021-sandbox-001122.world_cup.Teams teams
join bsa-2021-sandbox-001122.world_cup.Players players
on teams.team = players.team
"""

query_job = client.query(q2)
query_job.to_dataframe().head(10)

       team  ranking  games  wins  ...  minutes  passes  tackles  saves
0  Honduras       38      3     0  ...       84      19        0      0
1  Honduras       38      3     0  ...      125      43        1      0
2  Honduras       38      3     0  ...      270      62        3      0
3  Honduras       38      3     0  ...      180      51        8      0
4  Honduras       38      3     0  ...       90      38        5      0
5  Honduras       38      3     0  ...      180      51        3      0
6  Honduras       38      3     0  ...      270      51        0     12
7  Honduras       38      3     0  ...      135      36        4      0
8  Honduras       38      3     0  ...      156      60        6      0
9  Honduras       38      3     0  ...      114      37        5      0

[10 rows x 17 columns]

You can try more queries on your own! (or re-use the queries you wrote in the other notebook of week 2 with the SQLite extension)

## Exercises

Let's build some queries for the `accidents_2016` data from the NHTSA traffic facilities dataset, which is publicly available on Google BigQuery.

### Setting up

In [13]:
# Create a reference to the traffic facilities dataset
traffic_ref = client.dataset("nhtsa_traffic_fatalities", project="bigquery-public-data")

# API request - fetch the dataset
traffic_dataset = client.get_dataset(traffic_ref)

In [14]:
# Construct a reference to the "accident_2016" table
accidents_ref = traffic_ref.table("accident_2016")

# API request - fetch the table
accidents_table = client.get_table(accidents_ref)

In [15]:
# Display schema
accidents_table.schema

[SchemaField('state_number', 'INTEGER', 'NULLABLE', 'This data element identifies the state in which the crash occurred. The codes are from the General Services Administrationâ€™s (GSA) publication of worldwide Geographic Location Codes (GLC). For more info on the codes, please look at <C1/V1/D1/PC1/P1/NM1 State Number> section in the pdf: https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812315', ()),
 SchemaField('state_name', 'STRING', 'NULLABLE', 'This data element identifies the state in which the crash occurred. The codes are from the General Services Administrationâ€™s (GSA) publication of worldwide Geographic Location Codes (GLC).', ()),
 SchemaField('consecutive_number', 'INTEGER', 'NULLABLE', 'This data element is the unique case number assigned to each crash. It appears on each data file and is used to merge information from the data files together. xxxxxx Two Characters for State Code followed by Four Characters for Case Number', ()),
 SchemaField('number_of_vehicle_forms_submitted_all', 'INTEGER', 'NULLABLE', 'number_of_vehicle_forms_submitted_all', ()),
 SchemaField('number_of_motor_vehicles_in_transport_mvit', 'INTEGER', 'NULLABLE', 'This data element is a count of the number of vehicles in-transport involved in the crash. Legally parked vehicles are not included. 001-999 Number of Vehicle Forms', ()),
 SchemaField('number_of_parked_working_vehicles', 'INTEGER', 'NULLABLE', 'This data element is a count of the number of parked and working vehicles involved in the crash. 0-999 Number of Parked/Working Vehicles in the Crash', ()),
 SchemaField('number_of_forms_submitted_for_persons_not_in_motor_vehicles', 'INTEGER', 'NULLABLE', 'This data element is the number of Person Forms (Not a Motor Vehicle Occupant) that are applicable to this case (i.e., non-occupants). 00-99 Number of Persons Not in Motor Vehicles', ()),
 SchemaField('number_of_persons_not_in_motor_vehicles_in_transport_mvit', 'INTEGER', 'NULLABLE', 'This data element is a count of the number of non-motorists in the crash. A non-motorist is defined as a pedestrian, a cyclist, an occupant of a motor vehicle not intransport, a person riding a horse, an occupant of an animal drawn conveyance, person associated with non-motorist conveyance (e.g., baby carriage, skate board, wheelchair), or an other non-motorist (e.g., person outside a trafficway, person in a house). 0-98 Number of Persons Not in Motor Vehicles in Transport', ()),
 SchemaField('number_of_persons_in_motor_vehicles_in_transport_mvit', 'INTEGER', 'NULLABLE', 'This data element is a count of the number of motorists in the crash. A motorist is a driver, passenger or unknown occupant type of a motor vehicle in-transport. 0-999 Number of Persons in Motor Vehicles In-Transport', ()),
 SchemaField('number_of_forms_submitted_for_persons_in_motor_vehicles', 'INTEGER', 'NULLABLE', 'This data element is a count of the number of Person Level (Motor Vehicle Occupant) Forms that are applicable to this case (i.e., occupants). 000-999 Number of Person Forms', ()),
 SchemaField('county', 'INTEGER', 'NULLABLE', 'This data element records the location of the unstabilized event with regard to the County. The codes are from the General Services Administrationâ€™s (GSA) publication of worldwide Geographic Location Codes (GLC). 000 Not Applicable 001-996 Use GSA Geographical Codes 997 Other 998 Not Reported 999 Unknown', ()),
 SchemaField('city', 'INTEGER', 'NULLABLE', 'This data element records the location of the unstabilized event with regard to the City. The codes are from the General Services Administrationâ€™s (GSA) publication of worldwide Geographic Location Codes (GLC). 0000 Not Applicable 0001-9996 GSA Geographical Codes 9997 Other 9898 Not Reported 9999 Unknown', ()),
 SchemaField('day_of_crash', 'INTEGER', 'NULLABLE', 'This data element records the day of the month on which the crash occurred. 01-31 Day of the Month of the Crash -- Unknown', ()),
 SchemaField('month_of_crash', 'INTEGER', 'NULLABLE', 'This data element records the month in which the crash occurred. For more info on the codes, please look at <C8A Month of Crash> section in the pdf: https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812315', ()),
 SchemaField('year_of_crash', 'INTEGER', 'NULLABLE', 'This data element records the year in which the crash occurred. xxxx Year of the Crash', ()),
 SchemaField('day_of_week', 'INTEGER', 'NULLABLE', 'This data element records the day of the week on which the crash occurred. 1 Sunday 2 Monday 3 Tuesday 4 Wednesday 5 Thursday 6 Friday 7 Saturday -- Unknown', ()),
 SchemaField('hour_of_crash', 'INTEGER', 'NULLABLE', 'This data element records the hour at which the crash occurred. 00-23 Hour -- Not Applicable or Not Notified 99 Unknown', ()),
 SchemaField('minute_of_crash', 'INTEGER', 'NULLABLE', 'This data element records the minutes after the hour at which the crash occurred. 00-59 Minute -- Not Applicable or Not Notified 99 Unknown', ()),
 SchemaField('national_highway_system', 'INTEGER', 'NULLABLE', 'This data element identifies whether this crash occurred on a trafficway that is part of the National Highway System. 0 This Section is Not on the National Highway System 1 This Section is on the National Highway System 9 Unknown', ()),
 SchemaField('land_use', 'INTEGER', 'NULLABLE', '1 (Rural), 2 (Urban), 6 (Trafficway Not in State Inventory), 8 (Not Reported) and 9 (Unknown).', ()),
 SchemaField('land_use_name', 'STRING', 'NULLABLE', '1 (Rural), 2 (Urban), 6 (Trafficway Not in State Inventory), 8 (Not Reported) and 9 (Unknown).', ()),
 SchemaField('functional_system', 'INTEGER', 'NULLABLE', '01 (Interstate), 02 (Principal Arterial â€“ Other Freeways and Expressways), 03 (Principal Arterial â€“ Other), 04 (Minor Arterial), 05 (Major Collector), 06 (Minor Collector), 07 (Local), 96 (Trafficway Not in State Inventory), 98 (Not Reported), and 99 (Unknown).', ()),
 SchemaField('functional_system_name', 'STRING', 'NULLABLE', '01 (Interstate), 02 (Principal Arterial â€“ Other Freeways and Expressways), 03 (Principal Arterial â€“ Other), 04 (Minor Arterial), 05 (Major Collector), 06 (Minor Collector), 07 (Local), 96 (Trafficway Not in State Inventory), 98 (Not Reported), and 99 (Unknown).', ()),
 SchemaField('ownership', 'INTEGER', 'NULLABLE', 'For more info on the codes, please look at <C13 Ownership> section in the pdf: https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812315', ()),
 SchemaField('ownership_name', 'STRING', 'NULLABLE', 'For more info on the codes, please look at <C13 Ownership> section in the pdf: https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812315', ()),
 SchemaField('route_signing', 'INTEGER', 'NULLABLE', 'This data element identifies the route signing of the trafficway on which the crash occurred. 1 Interstate 2 U.S. Highway 3 State Highway 4 County Road 5 Local Street â€“ Township 6 Local Street â€“ Municipality 7 Local Street â€“ Frontage Road (Since 1994) 8 Other 9 Unknown', ()),
 SchemaField('route_signing_name', 'STRING', 'NULLABLE', 'This data element identifies the route signing of the trafficway on which the crash occurred.', ()),
 SchemaField('trafficway_identifier', 'STRING', 'NULLABLE', 'This data element records the trafficway on which the crash occurred. xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Actual Posted Number, Assigned Number, or Common Name (30 characters) 999999999999999999999999999999 Unknown', ()),
 SchemaField('trafficway_identifier_2', 'STRING', 'NULLABLE', 'This data element records the trafficway on which the crash occurred. xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Actual Posted Number, Assigned Number, or Common Name (30 characters) 999999999999999999999999999999 Unknown', ()),
 SchemaField('milepoint', 'INTEGER', 'NULLABLE', 'This data element records the milepoint nearest to the location where the crash occurred. 00000 None xxxxx Actual to Nearest Tenth Mile (Assume decimal, e.g., 12345 = 1234.5) 99998 Not Reported 99999 Unknown', ()),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', 'This element identifies the location of the crash using Global Position coordinates. This is the position of latitude. DDDDDD (DD.DDDD â€“ Decimal Degrees) DD.DDDD Actual Degrees 77.7777 Not Reported 88.8888 Not Available (If State Exempt) 99.9999 Unknown', ()),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', 'This element identifies the location of the crash using Global Position coordinates. This is the position of longitude. DDDDDDD (DDD.DDDD â€“ Decimal Degrees) DDD.DDDD Actual Degrees 777.7777 Not Reported 888.8888 Not Available (If State Exempt) 999.9999 Unknown', ()),
 SchemaField('special_jurisdiction', 'INTEGER', 'NULLABLE', 'This data element identifies if the location on the trafficway where the crash occurred qualifies as a Special Jurisdiction even though it may be patrolled by state, county or local police (e.g., all State highways running through Indian reservations are under the jurisdiction of the Indian reservation). 0 No Special Jurisdiction (Includes National Forests Since 2008) 1 National Park Service 2 Military 3 Indian Reservation 4 College/University Campus 5 Other Federal Properties (Since 1977) 8 Other (Since 1976) 9 Unknown', ()),
 SchemaField('special_jurisdiction_name', 'STRING', 'NULLABLE', 'This data element identifies if the location on the trafficway where the crash occurred qualifies as a Special Jurisdiction even though it may be patrolled by state, county or local police (e.g., all State highways running through Indian reservations are under the jurisdiction of the Indian reservation).', ()),
 SchemaField('first_harmful_event', 'INTEGER', 'NULLABLE', 'This data element describes the first injury or damage producing event of the crash. For more info on the codes, please look at <C19 First Harmful Event> section in the pdf: https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812315', ()),
 SchemaField('first_harmful_event_name', 'STRING', 'NULLABLE', 'This data element describes the first injury or damage producing event of the crash.', ()),
 SchemaField('manner_of_collision', 'INTEGER', 'NULLABLE', 'This data element describes the orientation of two motor vehicles in-transport when they are involved in the â€œFirst Harmful Eventâ€ of a collision crash. If the â€œFirst Harmful Eventâ€ is not a collision between two motor vehicles in-transport it is classified as such. For more info on the codes, please look at <C20 Manner of Collision> section in the pdf: https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812315', ()),
 SchemaField('manner_of_collision_name', 'STRING', 'NULLABLE', 'This data element describes the orientation of two motor vehicles in-transport when they are involved in the â€œFirst Harmful Eventâ€ of a collision crash. If the â€œFirst Harmful Eventâ€ is not a collision between two motor vehicles in-transport it is classified as such.', ()),
 SchemaField('relation_to_junction_within_interchange_area', 'STRING', 'NULLABLE', "This data element identifies the crash's location with respect to presence in an interchange area. The coding of this data element is done in two sub-fields (see also C20B) and is based on the location of the â€œFirst Harmful Eventâ€ of the crash. 0 No 1 Yes 8 Not Reported 9 Unknown", ()),
 SchemaField('relation_to_junction_specific_location', 'INTEGER', 'NULLABLE', "This data element identifies the crash's location with respect to presence in or proximity to components typically in junction or interchange areas. The coding of this data element is done in two sub-fields (see also C20A) and is based on the location of the â€œFirst Harmful Eventâ€ of the crash. For more info on the codes, please look at <C21B Relation to Junction- Specific Location> section in the pdf: https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812315", ()),
 SchemaField('relation_to_junction_specific_location_name', 'STRING', 'NULLABLE', "This data element identifies the crash's location with respect to presence in or proximity to components typically in junction or interchange areas. The coding of this data element is done in two sub-fields (see also C20A) and is based on the location of the â€œFirst Harmful Eventâ€ of the crash.", ()),
 SchemaField('type_of_intersection', 'STRING', 'NULLABLE', 'This data element identifies and allows separation of various intersection types. 1 Not an Intersection 2 Four-Way Intersection 3 T-Intersection 4 Y-Intersection 5 Traffic Circle 6 Roundabout 7 Five-Point, or More 10 L-Intersection 98 Not Reported 99 Unknown', ()),
 SchemaField('work_zone', 'STRING', 'NULLABLE', 'This data element identifies a motor vehicle traffic crash in which the first harmful event occurs within the boundaries of a work zone or on an approach to or exit from a work zone, resulting from an activity, behavior, or control related to the movement of the traffic units through the work zone. 0 None 1 Construction 2 Maintenance -- Construction or Maintenance 3 Utility 4 Work Zone, Type Unknown -- Not Reported', ()),
 SchemaField('relation_to_trafficway', 'INTEGER', 'NULLABLE', 'This data element identifies the location of the crash as it relates to its position within or outside the trafficway based on the â€œFirst Harmful Event.â€ For more info on the codes, please look at <C23 Relation to Trafficway> section in the pdf: https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812315', ()),
 SchemaField('relation_to_trafficway_name', 'STRING', 'NULLABLE', 'This data element identifies the location of the crash as it relates to its position within or outside the trafficway based on the â€œFirst Harmful Event.â€', ()),
 SchemaField('light_condition', 'INTEGER', 'NULLABLE', 'This data element records the type/level of light that existed at the time of the crash as indicated in the case material. For more info on the codes, please look at <C25 Light Condition> section in the pdf: https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812315', ()),
 SchemaField('light_condition_name', 'STRING', 'NULLABLE', 'This data element records the type/level of light that existed at the time of the crash as indicated in the case material.', ()),
 SchemaField('atmospheric_conditions_1', 'INTEGER', 'NULLABLE', 'This data element records the prevailing atmospheric conditions that existed at the time of the crash as indicated in the case material. For more info on the codes, please look at <C26 Atmospheric Conditions> section in the pdf: https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812315', ()),
 SchemaField('atmospheric_conditions_1_name', 'STRING', 'NULLABLE', 'This data element records the prevailing atmospheric conditions that existed at the time of the crash as indicated in the case material.', ()),
 SchemaField('atmospheric_conditions_2', 'INTEGER', 'NULLABLE', 'This data element records the prevailing atmospheric conditions that existed at the time of the crash as indicated in the case material. For more info on the codes, please look at <C26 Atmospheric Conditions> section in the pdf: https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812315', ()),
 SchemaField('atmospheric_conditions_2_name', 'STRING', 'NULLABLE', 'This data element records the prevailing atmospheric conditions that existed at the time of the crash as indicated in the case material.', ()),
 SchemaField('atmospheric_conditions', 'INTEGER', 'NULLABLE', 'This data element records the prevailing atmospheric conditions that existed at the time of the crash as indicated in the case material. For more info on the codes, please look at <C26 Atmospheric Conditions> section in the pdf: https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812315', ()),
 SchemaField('atmospheric_conditions_name', 'STRING', 'NULLABLE', 'This data element records the prevailing atmospheric conditions that existed at the time of the crash as indicated in the case material.', ()),
 SchemaField('school_bus_related', 'STRING', 'NULLABLE', 'This data element identifies if a school bus, or motor vehicle functioning as a school bus, is related to the crash. 0 No 1 Yes -- Not Reported', ()),
 SchemaField('rail_grade_crossing_identifier', 'STRING', 'NULLABLE', 'This data element identifies if the crash occurred in or near a rail grade crossing. 0000000 Not Applicable xxxxxxA Six Digits Followed by One Alphabetic Valid F.R.A. Code 9999999 Unknown', ()),
 SchemaField('hour_of_notification', 'INTEGER', 'NULLABLE', 'This data element records the hour that emergency medical service was notified. 00-23 Hour -- Not Applicable or Not Notified (when NOT_MIN = 00) 88 Not Applicable or Not Notified 99 Unknown Hour 99 Unknown if Notified (when NOT_MIN = 98)', ()),
 SchemaField('minute_of_notification', 'INTEGER', 'NULLABLE', 'This data element records the minutes after the hour that emergency medical service was notified. 00-59 Minute -- Not Applicable or Not Notified (when NOT_HOUR = 00) 88 Not Applicable or Not Notified 98 Unknown if Notified 99 Unknown Minutes', ()),
 SchemaField('hour_of_arrival_at_scene', 'INTEGER', 'NULLABLE', 'This data element records the hour that emergency medical service arrived on the crash scene. 00-23 Hour -- Not Notified or Officially Cancelled (when ARR_MIN = 00) -- Not Notified (when ARR_MIN = 00) 88 Not Applicable or Not Notified 99 Unknown Hour 99 Officially Cancelled (when ARR_MIN = 97) 99 Unknown if Arrived (when ARR_MIN = 98)', ()),
 SchemaField('minute_of_arrival_at_scene', 'INTEGER', 'NULLABLE', 'This data element records the minutes after the hour that emergency medical service arrived on the crash scene. 00-59 Minute 00 -- Not Notified or Officially Cancelled (when ARR_HOUR = 00) -- Not Notified (when ARR_HOUR = 00) 88 Not Applicable or Not Notified 97 Officially Cancelled 98 Unknown if Arrived 99 Unknown Minutes', ()),
 SchemaField('hour_of_ems_arrival_at_hospital', 'INTEGER', 'NULLABLE', 'This data element records the hour that emergency medical service arrived at the treatment facility to which it was transporting victims of the crash. 00-23 Hour -- Not Notified, Officially Cancelled or Not Transported (when HOSP_MIN = 00) -- Not Notified or Not Transported (when HOSP_MIN = 00) 88 Not Applicable or Not Notified 99 Unknown Hour 99 Officially Cancelled (when HOSP_MIN = 97) 99 Unknown if Transported (when HOSP_MIN = 98)', ()),
 SchemaField('minute_of_ems_arrival_at_hospital', 'INTEGER', 'NULLABLE', 'This data element records the minutes after the hour that emergency medical service arrived at the treatment facility to which it was transporting victims of the crash. 00-59 Minute -- Not Notified, Officially Cancelled or Not Transported (when HOSP_HR = 00) -- Not Notified or Not Transported (when HOSP_HR = 00) 88 Not Applicable or Not Notified 96 Terminated Transport 97 Officially Cancelled 98 Unknown if Transported 99 Unknown Minutes', ()),
 SchemaField('related_factors_crash_level_1', 'INTEGER', 'NULLABLE', 'This data element records factors related to the crash expressed by the investigating officer. For more info on the codes, please look at <C32 Related Factors- Crash Level> section in the pdf: https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812315', ()),
 SchemaField('related_factors_crash_level_1_name', 'STRING', 'NULLABLE', 'This data element records factors related to the crash expressed by the investigating officer.', ()),
 SchemaField('related_factors_crash_level_2', 'INTEGER', 'NULLABLE', 'This data element records factors related to the crash expressed by the investigating officer. For more info on the codes, please look at <C32 Related Factors- Crash Level> section in the pdf: https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812315', ()),
 SchemaField('related_factors_crash_level_2_name', 'STRING', 'NULLABLE', 'This data element records factors related to the crash expressed by the investigating officer.', ()),

In [16]:
# Show a preview of the "accident_2016" table
client.list_rows(accidents_table, max_results=5).to_dataframe()

   state_number state_name  ...  number_of_drunk_drivers        timestamp_of_crash
0            56    Wyoming  ...                        0 2016-12-04 03:45:00+00:00
1            16      Idaho  ...                        0 2016-12-16 16:33:00+00:00
2             5   Arkansas  ...                        0 2016-01-06 03:36:00+00:00
3            48      Texas  ...                        0 2016-08-07 15:28:00+00:00
4            12    Florida  ...                        0 2016-07-21 19:37:00+00:00

[5 rows x 70 columns]

### Questions

You can access the table using `from bigquery-public-data.nhtsa_traffic_fatalities.accident_2016`.

1) How many crashes happened in each month of 2016?

In [ ]:
q3 = """
YOUR QUERY HERE
"""

query_job_3 = client.query(q3)
query_job_3.to_dataframe()

2) Let's call the accidents involving more than 5 motor vehichles in transport involved as "massive_crash", and all others as "small crash". Return the number of each type of crash for each weather condition.

**Hint**: Use columns `atmospheric_conditions_1_name` and `number_of_motor_vehicles_in_transport_mvit`.

In [ ]:
q4 = """
YOUR QUERY HERE
"""

query_job_4 = client.query(q4)
query_job_4.to_dataframe()

3) Find the top 5 states with the highest number of drunk drivers involved in accidents.

In [ ]:
q5 = """
YOUR QUERY HERE
"""

query_job_5 = client.query(q5)
query_job_5.to_dataframe()

4) Let's find out the states where using a cell phone is a major cause of accidents. Return the first 5 state names along with the number of crashes where the driver was distracted "while manipulating cellular phone".

**Hint**: You need to join the `distract_2016` and `accident_2016` tables.

In [ ]:
q6 = """
YOUR QUERY HERE
"""

query_job_6 = client.query(q6)
query_job_6.to_dataframe()

5) Sometimes, a "live animal" is a reason that a driver maneuvers and causes an accident. In which months of the year do such accidents happen the most? Return the month and the number of accidents. 

**Hint**: You need to join the `maneuver_2016` and `accident_2016` tables.

In [ ]:
q7 = """
YOUR QUERY HERE
"""

query_job_7 = client.query(q7)
query_job_7.to_dataframe()

6) In the state of Alaska, in which months do "poor road conditions" cause the most accidents? Return the month and the number of accidents. 

**Hint**: Again, you will need the `maneuver_2016` table.

In [ ]:
q8 = """
YOUR QUERY HERE
"""

query_job_8 = client.query(q8)
query_job_8.to_dataframe()

7) Sometimes, a factor of the accident is that the vehicle has a problem with the "brake system". Filter the accidents with this factor and return the `driver_maneuvered_to_avoid_name` column along with the related number of accidents.
 
**Hint**: You need to join the `maneuver_2016` and `factor_2016` tables.

In [ ]:
q9 = """
YOUR QUERY HERE
"""

query_job_9 = client.query(q9)
query_job_9.to_dataframe()

8) Sometimes, a non-motorist is involved in a crash. For each state, find the number of crashes in which an "inattentive" person was involved. Return the state name and number of crashes.

**Hint**: You need to join the `nmcrash_2016` and `accident_2016` tables.

In [ ]:
q10 = """
YOUR QUERY HERE
"""

query_job_10 = client.query(q10)
query_job_10.to_dataframe()